* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* ------------Dando estilos al HEADER----------------- */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.descuentos {
  background-color: #d1891c;
  padding: 0 2rem;
}
.titulo {
  background-color: #00669f;
  color: white;
  padding: 0.5rem 2rem;
}
h1 {
  font-weight: normal;
}
/* ------------Dando estilos al MAIN----------------- */

.main {
  border: 1px solid black;
}

.card {
  height: 1365px;
  width: 805px;
}
